body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

main {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: beige;
  margin-top: 45px;
  height: calc(100vh - 45px);
}